grid {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;

}

square {
    flex: 1;
    width: 25px;
    height: 25px;
    
}
